@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* variable */
:root{
    --font-family: 'Source Sans Pro', sans-serif;
    

    --bg-color: #fcfcfc;
    --primary-color: #088446;
    --secondary-color: #ff7957;
    --primary-shadow: #8bafa2;
    --secondary-shadow: #a17a69;

    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
} 
html {
    scroll-behavior: smooth;
     }
  
  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
  } 

